.forgot {
    height: 100vh;
    width: 100vw;
    grid-template-columns: var(--contact-colum);
    grid-template-rows: var(--contact-row);
    background-image: linear-gradient(to right top, #f1683f, #fa4c54, #fc2a6f, #f4008e, #df00b1, #ce00c3, #b700d5, #941ae9, #8a14ee, #7f0ff3, #720af9, #6208fe);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.forgot__form {
    width: 40%;
}


.forgot__picture{
    order: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40%;
}

.forgot__img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.forgot__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);

    margin-bottom: 20%;
}

.forgot__text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    position: relative;
}

.forgot__input {
    padding: 18px 10px;
    font-family: var(--font);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-top: 10px;
}

.forgot__error {
    color: var(--color-error);
    font-weight: 500;
}

.forgot__error::before {
    display: inline;
    content: "⚠ ";
}

.forgot__cta {
    display: block;
    background: var(--color-primary);
    width: 200px;
    color: var(--text-color);
    font-family: var(--font);
    padding: 13px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}